@model WebBanHangOnline.Models.EF.ReviewProduct

<div class="add_review">
    @using (Ajax.BeginForm("PostReview", "Review", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "load_review",
        OnSuccess = "OnSuccessRE",
        OnFailure = "OnFailureRE",
        OnBegin = "OnBeginRE"
    }, new { @Id = "review_form" }))
    {
        <script>
            function OnBeginRE() {
                $('#review_submit').attr("disabled", "disabled");
                $('#load_send').html('<h2>Đang gửi....</h2>');
            }

            function OnSuccessRE(res) {
                $('#review_submit').removeAttr("disabled");
                $('#load_send').html('');
                if (res.Success) {
                    // Reset form
                    $("#review_form")[0].reset();

                    // Hiển thị thông báo chờ duyệt, kiểm tra res.Message để tránh undefined
                    var message = res.Message || "Đánh giá của bạn đã được gửi và đang chờ duyệt.";
                    $('#load_send').html('<h2 style="color: green;">' + message + '</h2>');
                } else {
                    // Hiển thị thông báo lỗi, kiểm tra res.Message để tránh undefined
                    var errorMessage = res.Message || 'Lỗi khi gửi!';
                    $('#load_send').html('<h2 style="color: red;">' + errorMessage + '</h2>');
                }
            }

            function OnFailureRE() {
                $('#review_submit').removeAttr("disabled");
                $('#load_send').html('<h2 style="color: red;">Lỗi khi gửi!</h2>');
            }

            // Hàm tạo sao dựa trên rate
            function generateStars(rate) {
                var stars = '';
                for (var i = 1; i <= 5; i++) {
                    if (i <= rate) {
                        stars += '<li><i class="fa fa-star" aria-hidden="true"></i></li>';
                    } else {
                        stars += '<li><i class="fa fa-star-o" aria-hidden="true"></i></li>';
                    }
                }
                return stars;
            }
        </script>

        @Html.AntiForgeryToken()
        <div>
            <h1>Thêm đánh giá</h1>
            @Html.TextBoxFor(x => x.FullName, new { @class = "form_input input_name", @placeholder = "Name*", @id = "review_name" })
            @Html.TextBoxFor(x => x.Email, new { @class = "form_input input_email", @placeholder = "Email*", @id = "review_email" })
            @Html.HiddenFor(x => x.UserName)
            @Html.HiddenFor(x => x.ProductId, new { @Value = ViewBag.ProductId })
            <input type="text" id="txtRate" name="Rate" value="4" style="visibility:hidden;" />
        </div>
        <div>
            <h1>Đánh giá của bạn:</h1>
            <ul class="user_star_rating">
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
            </ul>
            @Html.TextAreaFor(x => x.Content, new { @class = "input_review", @rows = "4", @placeholder = "nhận xét của bạn " })
        </div>
        <div class="text-center">
            <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">Gửi</button>
        </div>
        <div id="load_send"></div>
    }
</div>